@use "./variables" as *;

@mixin btn-style {
  font-family: $Roboto, monospace;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
}

@mixin add-save-btns {
  @include btn-style;
  width: 8.75rem;
  background-color: #5c4c05;
  border: 2px solid #806900;
  color: #fff;
}

@mixin add-save-hover {
  background-color: #7c6708;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin tablet-padding {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

@mixin tablet-margin {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}
