//fonts
$Bebas: "BebasNeue";
$Roboto: "Roboto";
$Garamond: "EBGaramond";
$Oswald: "oswald";

//colors
$header-nav-colors: #ffdc3f;

//padding
$mob-hor-pad: 1rem;
$tab-pad-ver: 2.75rem;
$cv-hor-pad: 1.5rem;
